@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h1>Bem-vindo!</h1>
    <p>Faça login para acessar o sistema</p>

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-close" aria-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    }

    <form asp-controller="Login" asp-action="Entrar" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" id="Login" placeholder="Digite seu login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Digite sua senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <button type="submit" class="btn btn-primary btn-lg w-100">Entrar</button>
    </form>
</div>
